body{
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    box-sizing: border-box;
}
:root{
    --main-font-family:'Raleway', sans-serif;
    --main-color:#f06161;
    --para-color:#212529;
}
.background-container{
    background-image: url("./imgs/header.jpg");
    position: relative;
    /* border:3px solid green; */
    max-width: 100%;
    background-size: cover;
    background-position: center;
}
.header{
    background-color: #2c3e50;
    /* border:2px solid yellow; */
    opacity: 0.9;
}
.logo img{
    max-width: 100%;
    width: 50px;
}
.nav-bar{
    display:
    flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul{
    display:
    flex;
    list-style: none;
    align-items: center;
    column-gap: 20px;
    color: white;
    /* font-family: var(--main-font-family); */
    text-transform: capitalize;
    font-size: 15px;
}
.header-btn{
    background: var(--main-color);
    border-style: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.nav-bar-link{
    text-decoration: none;
    
    font-size:15px;
    font-weight:700;
    color: white;
    font-family: sans-serif;
}
.nav-bar-link:hover{
    color:var(--main-color);
}
.home{
    color:var(--main-color);
}
.align-container{
    max-width: 100%;
    width:1300px;
    margin: 0 auto;
    position: relative;
}
.main-heading{
    font-size: 60px;
    color: white;
    font-family: var(--main-font-family);
    margin: 0;
}
.header-content-btn{
    padding: 10px 20px;
    border-style:
    none;
    color:
    white;
    background-color: var(--main-color);
    border-radius: 20px;
    font-size: 17px;
    margin: 40px 0 0 0;
}
.header-content-flex{
    display:
    flex;
    align-items: center;
    justify-content:
    space-around;
    color:
    white;
    font-family: sans-serif;
}
.admin{
    display:flex;
}
.info-box{
    padding-bottom:10px;
    margin: 5px;
}
.short-para{
    font-size:15px;
}